body{
    box-sizing: border-box;
    width: 80%;
    height: 100vh;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    line-height: 2rem;
    max-width: 768px;
}


input{
    width: 80px;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    border-bottom: 1px solid black;

}


span { 
    padding: 4px 0px;
    width: 80px;
    height: 18px;
    display: inline-block;
    border-bottom: 1px solid black;
    
}

